* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

html {
    font-size: 62.5;
}

body {
    background-color: beige;
}

.maindiv {
    width: 100%;
    height: 30vmax;
    background-image: url(https://picsum.photos/id/237/1000/500);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 9s infinite linear;
    background-position: center;
    text-align: center;
    color: rgb(66, 66, 3);
    outline-color: black;
    outline-width: 3px;

}

@keyframes slider {
    0% {
        background-image: url(./img/1711481886733.jpeg);
        color: black;
    }

    25% {
        background-image: url(./img/images.jpeg);

    }

    50% {
        background-image: url(./img/download.jpeg);
        color: red;
    }

    75% {
        background-image: url(./img/download\ \(1\).jpeg);

    }

    100% {
        background-image: url(./img/download\ \(3\).jpeg);
        color: rgb(253, 0, 42);

    }
}

nav {
    background-color: black;
    box-shadow: 3px 3px 5px black;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 2vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2vw;
    text-transform: capitalize;
}


nav a:hover {
    background-color: red;
    color: pink;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    background-color: #473e3e1f;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menubtn {
    display: none;
}

.maindiv h3 {
    padding-top: 8%;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.maindiv h1 {
    font-size: 6vw;
    text-transform: capitalize;
}

.maindiv h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 90%;
    padding: 3%;
}

.about-1 {
    width: 50%;

}

.about-2 {
    width: 50%;
}

.about-1 img {
    width: 45%;
}

.about-1 .one:first-child {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 3%;
}

.about-1 .one:nth-child(2) {
    width: 90%;
    justify-content: flex-start;
    margin: 3%;

}

.about-1 .one:nth-child(3) {
    width: 90%;
    justify-content: flex-end;
    display: flex;
    height: inherit;
    margin: 3%;

}

.about-2 h1 {
    font-size: 5vw;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 5px 5px 3px grey;
    text-align: center;
}

.about-2 p {
    text-align: left;
    text-transform: capitalize;
    font-size: 2vw;
    padding: 3%;
    line-height: 1.2em;
}

.mission {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 90%;
    padding: 3%;
}

.mission-1 h1 {
    font-size: 3.5vw;
    text-transform: capitalize;
    margin-bottom: 3%;

}

.mission-1 p {
    font-size: 1.8vw;
    line-height: 1.2em;
}

blockquote {
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
    text-decoration: underline;
}

.mission-1 {
    width: 50%;
}

.mission-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.mission-2 img {
    width: 100%;
}

.mission-2 .two:first-child {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: end;
    margin-left: auto;
}

.mission-2 .two:nth-child(2) {
    width: 50%;
}

.circle {
    width: 20%;
    height: 20vw;
    border: solid;
    display: inline-block;
    margin: 1%;
    border-radius: 50%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100% 100%;
    position: relative;
}

.services {
    width: 90%;
    margin: 0px auto;
}

.services h1 {
    font-size: 4vw;
    text-transform: capitalize;
    margin-bottom: 3%;
    text-decoration: underline;
}

.circle .text {
    position: absolute;
    top: 2%;
    left: 2%;
    bottom: 2%;
    right: 2%;
    /* transform: translate(-50% , -50%); */
    opacity: 0;
    transition: opacity 0.5s;
    background-color: 0, 0, 0, 0.7;
    color: black;
    padding: 2%;
    text-align: center;
    border-radius: inherit;
    font-size: 1.5vw;
    border: solid;
    font-weight: bolder;
}

.circle:hover .text {
    opacity: 1;
    background-color: hsla(0, 0%, 100%, 0.596);
}

.text p {
    margin: 10%;
}

.faculty {
    text-align: center;
    text-transform: capitalize;
    width: 90%;
    font-size: 0.8vw;
    overflow: auto;
}

.faculty h2 {
    font-size: 4vw;
    margin-bottom: 4%;
    margin-top: 4%;
}

.member {
    display: inline-block;
    /* height: 20vw; */
    border: solid;
    margin: 1%;
    background-color: white;
    border-radius: 32px;
    width: 25%;
}

.member img {
    width: 100%;
    border-radius: 31px;
}

.member .name {
    padding: 3%;
}

footer {
    padding: 3%;
    margin-top: 5%;
    background-color: black;
    color: white;
}

.one {
    display: inline-block;
    width: 30%;
    font-size: 2vw;
    text-transform: capitalize;
}

.one ul {
    list-style: none;
}

.reviews h1 {
    margin-bottom: 2%;
}

.reviews input {
    width: 70%;
    padding: 1.5%;
    font-size: 1.5vw;
    text-transform: capitalize;
    margin: 1%;
}

.reviews textarea {
    width: 70%;
    margin: 2%;
    padding: 2%;
    font-size: 1vw;
    text-transform: capitalize;
}

.reviews button {
    width: 50%;
    font-size: 1.5vw;
    padding: 2%;
}

.one:nth-child(2) ul {
    text-align: left;
    padding: 3%;
}

.one:nth-child(3) ul {
    text-align: left;
    padding: 3%;
}

.one:nth-child(2) a {
    text-decoration: none;
    color: white;
}

.one:nth-child(3) a {
    text-align: left;
    text-decoration: none;
    color: white;
}

.one:nth-child(2) a:hover {
    padding-left: 7%;
}

.one:nth-child(3) a:hover {
    padding-left: 7%;

}

.search {
    flex: 1;
    /* Take up remaining space */
    display: flex;
    justify-content: center;
    /* Center the search bar horizontally */
}

.search input[type="text"] {
    margin-right: 10px;
    /* Add some space between input and button */
    border-radius: 10px;
}

.search input[type="text"]:focus {
    background-color: beige;
    color: black;
}

.reviews input:focus {
    background-color: beige;
    color: black;
}

.reviews textarea:focus {
    background-color: beige;
    color: black;
}

.mode button.toggle {
    margin-left: auto;
    /* Push the button to the right */
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* To push the search bar to the left and the button to the right */
    padding: 1%;
}



button {
    background-color: blue;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-transform: capitalize;
    width: 30%;
    font-size: 2vw;
    padding: 1%;
}

button:hover {
    transform: translateY(-15%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

@media screen and(max-width:998) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .hide {
        display: none;
    }

    .menubtn {
        display: block;
    }

    .circle {
        width: 30%;
        height: 30vw;
        padding: 4%;
    }

    .circle p {
        font-size: 2.5vw;

    }

    .services h1 {
        font-size: 6vw;
    }

    .services {
        width: 95%;
        overflow-y: hidden;
    }


}

@media(max-width: 400px) {

    /* html{
        font-size: 40%;
    } */
    .sidebar {
        width: 100%;
    }

    .sidebar a {
        font-size: 6vw;
        text-decoration: underline;
        font-weight: bolder;
        color: white;
    }

    .sidebar li:first-child {
        font-size: 8vw;
        text-decoration: underline;
        font-weight: bolder;
        color: white;
    }
.reviews input{
    font-size: 4vw;
}
.reviews textarea{
    font-size: 4vw;
}
    .mission-2 {
        display: none;
    }

    .mission-1 {
        width: 90%;
        margin: 0px auto;
        padding: 3%;
    }

    .mission-1 p {
        font-size: 4vw;

    }

    .mission-1 h1 {
        font-size: 6vw;

    }

    .about {
        flex-direction: column;
    }

    .about-1 {
        width: 95%;
        margin: 0px auto;
    }

    .about-2 {
        width: 95%;
        margin: 0px auto;
    }

    .about-2 p,
    blockquote {
        font-size: 4vw;
    }

    .about-2 h1 {
        font-size: 6vw;
    }

    .circle {
        width: 80%;
        height: 80vw;
        padding: 4%;
    }

    .circle p {
        font-size: 5.4vw;

    }

    .services h1 {
        font-size: 6vw;
    }

    .services {
        width: 95%;
        overflow-y: hidden;
    }

    .faculty h2 {
        font-size: 6vw;
    }


    .member {
        width: 90%;
        font-size: 2vw;
        /* display: block; */
        /* margin: 0px auto; */
        margin: 3%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .member img {
        width: 100%;
        border-radius: none;
    }

    .faculty {
        /* overflow-y: hidden; */
        width: 100%;
        /* margin:0px auto; */
        flex-direction: column;
    }

    .video,
    .videos2 {
        overflow-y: hidden;
    }

    .logo {
        font-size: 8vw;
    }

    .one {
        display: block;
        width: 90%;
        font-size: 6vw;
        padding: 6%;
    }

    button {
        font-size: 4vw;
    }

    .reviews .submit {
        font-size: 4vw;
    }

    #searchInput {
        width: 70%;
    }
}